<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Check In</h1>
    <form action="" method="POST">
        {% csrf_token %} {% for field in form %}
            <div class="form__group form__group">
                <label for="{{field.label}}">{{field.label}}</label> {{field}}
            </div>

        {% endfor %}
        <button class="btn btn--main" type="submit">SUBMIT</button>
    </form>
        




</body>
</html>